.statistic_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn_list {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
.statistic_btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
.statistic_value {
  font-size: 18px;
  font-weight: 500;
}
